.radio-button {
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-border-color: rgb(18, 1, 16);
}
#excellentRadioButton{
    -fx-background-color: #00ff08;
}
#goodRadioButton{
    -fx-background-color: #87eb45;
}
#averageRadioButton{
    -fx-background-color: #FFEB3B;
}
#belowAverageRadioButton{
    -fx-background-color: #FF9800;
}
#badRadioButton{
    -fx-background-color: #F44336;
}

.button{
    -fx-background-color: rgb(108, 226, 235);
    -fx-text-fill: rgb(45, 30, 27);
    -fx-border-color: rgb(18, 1, 16);
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
}
#exitButton:pressed {
    -fx-background-color: #4301f8; /* Change to a red background */
    -fx-text-fill: rgb(255, 0, 0);          /* Change text color */
    -fx-scale-x: 0.85;             /* Slightly shrink the button */
    -fx-scale-y: 0.85;
    -fx-border-color: #b32f2f;     /* Darker border */
}
.button:pressed {
    -fx-background-color: #06ed38; /* Change to a red background */
    -fx-text-fill: rgb(0, 0, 0);          /* Change text color */
    -fx-scale-x: 0.85;             /* Slightly shrink the button */
    -fx-scale-y: 0.85;
    -fx-border-color: #3f3323;     /* Darker border */
}